<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>bootstrap</title>
     <link rel="stylesheet" href="styletemp.css">
    <script src=""></script>
</head>
      <body class="body">
      <header class="header">
            <h3>
                  bootstrap tutorial
            </h3>
            <span>
                  <input type="search" name="" id="search" placeholder="search"> 
                  <button>open</button>
              </span>
      </header>
      
      <nav class="nav">
            
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
                <li><a href="">home</a></li>
            </ul>
      </nav>
      












            
<script src="template.js"></script>
</body>
</html>